@page
@{
    ViewData["Title"] = "Home page";
}
<div class="container">
<h2>Report List</h2>
<p></p>
<ul>
    <li><a asp-page="/PersonnelLanguage">Personnel Language Report</a></li>
</ul>
</div>

