@page
@model IndexModel
@{
    ViewData["Title"] = "Personnel Language";
}
@section scripts {
    <script src='~/zegami/reports/personnel-language/report.js'></script>
    <script>runReport('');</script>
}

    <div class='zegami-container'></div>